{
    "presets": ["es2015", "stage-1", "react"],
    "plugins": [
      "universal-import",
      ["babel-plugin-styled-components", { "ssr": true }]
    ],
    "env": {
      "development": {
        "plugins": ["react-hot-loader/babel"]
      },
      "production": {
        "plugins": []
      }
    }
}
